# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
public
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json  # Allow extensions.json to be tracked
.idea
.editorconfig
.estlintrc
.prettierrc
.prettierignore
package-lock.json
package.json
tsconfig.json
tsconfig.node.json
vite.config.ts
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore all files with the .vscode directory except extensions.json
.vscode/**
!.vscode/extensions.json

# Ignore all files with .suo extension
*.suo

# Ignore all files with .ntvs* extension
*.ntvs*

# Ignore all files with .njsproj extension
*.njsproj

# Ignore all files with .sln extension
*.sln

# Ignore all files with .sw? extension
*.sw?
